go 1.24.2

use (
	./demo_app/backend
	./deployments/docker-compose/mock-auth
	./kit/kit-cli
	./kit/kit-go
	./kit/kit-go/gateway
	./platform/audit-service
	./platform/gateway-service
	./platform/iam-service
	./platform/notification-service
	./platform/registry-service
	./platform/temporal-worker
	./platform/tenant-service
	./services/order
	./services/test-service
)
